#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.payment-form {
  padding: 1em;
}

.invalid {
  margin: 5px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
}

.valid {
  margin: 5px;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
}